body {
    font-family: Arial, sans-serif;
    background-color: #f1f5f4;
    padding: 30px;
}

.produto {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 23px;
    border-radius: 10px;
}

input {
    padding: 8px;
    width: 80px;
}

button {
    padding: 10px;
    margin: 10px 5px 10px 0;
    cursor: pointer;
}

.aviso {
    color: red;
    font-weight: bold;
}